<a href="https://colab.research.google.com/github/ricyoung/23andme2vcf/blob/master/KNN_scikit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic KNNImputer for Missing Values

In [0]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer
dict = {'First':[100, 90, np.nan, 95], 
        'Second': [30, 45, 56, np.nan], 
        'Third':[np.nan, 40, 80, 98]} 
  
# creating a dataframe from list 
df = pd.DataFrame(dict)

**Missing Values**

In [7]:
df

   First  Second  Third
0  100.0    30.0    NaN
1   90.0    45.0   40.0
2    NaN    56.0   80.0
3   95.0     NaN   98.0

Set Nearest Neighbors

In [0]:
imputer = KNNImputer(n_neighbors=3)

In [0]:
df_filled = imputer.fit_transform(df)

**Scikit Imputer Does the work**

In [13]:
df_filled

array([[100.        ,  30.        ,  72.66666667],
       [ 90.        ,  45.        ,  40.        ],
       [ 95.        ,  56.        ,  80.        ],
       [ 95.        ,  43.66666667,  98.        ]])

https://datascienceplus.com/knnimputer-for-missing-value-imputation-in-python-using-scikit-learn/